<div id="lightsContainer">
    <div id="lightsCtrlTitle">{{lc.title}}
    <i class="material-icons ico-widget-action" ng-click="lc.init()" ng-class="{'active': lc.fetchingData}">refresh<md-tooltip>Refresh Data</md-tooltip></i>
    </div>
    <div id="lightsCtrlWrap">
        <div ng-repeat="(lightId, lightData) in lc.lightsData" class="hue">
            <div class="lightTitle" ng-bind="lightData.name"></div>
            <md-switch class="lightSwitch" ng-model="lightData.state.on" ng-change="lc.changeLightStatus(lightId, 'on')" aria-label="Switch">
            </md-switch>
            <md-slider-container class="lightSlide">
                <md-slider flex min="0" max="255" ng-model="lightData.state.bri" ng-change="lc.changeLightStatus(lightId, 'bri')" aria-label="red" id="bri-slider">
                </md-slider>
                <md-input-container style="display: none;">
                    <input flex type="number" ng-model="lightData.state.bri" aria-label="red" aria-controls="bri-slider">
                </md-input-container>
            </md-slider-container>
        </div>
        <div class="wemo" ng-if="lc.wemoLightData">
            <div class="lightTitle" ng-bind="lc.wemoLightData.name"></div>
            <md-switch id="WemoSwitch" class="lightSwitch" ng-model="lc.wemoLightData.state" ng-change="lc.toggleWemoLight(lc.wemoLightData.state)" aria-label="Switch"></md-switch>
        </div>
    </div>
</div>
