<div id="weatherContainer" class="widgetContainer">

    <div id="weatherCtrlTitle" class="widgetCtrlTitle">{{wt.title}}
        <i class="material-icons ico-widget-action" ng-click="wt.init()" ng-class="{'active': wt.fetchingData}">refresh<md-tooltip>Refresh Data</md-tooltip></i>
        <a href="http://radar.weather.gov/ridge/Conus/southplains_loop.php" target="_blank">
            <i class="material-icons ico-widget-action" >satellite<md-tooltip>Radar Map</md-tooltip></i>
        </a>
    </div>

    <div id="weatherCtrlWrap" class="widgetCtrlWrap" ng-cloak>
        <div id="weatherHeadWrap">
        	<div id="weatherMain" class="col-sm-6">
        		<div id="weatherMainIcon" ng-class="wt.activeDay.dayData.iconBackground"><i class="wi" ng-class="wt.activeDay.dayData.iconMap"></i></div>

        		<div id="weatherMainTemp">
        			<span ng-bind="wt.activeDay.dayData.temperature | number : 0"></span>
        			<i class="wi wi-fahrenheit"></i>
        		</div>
        	</div>

        	<div id="weatherSecondary" class="col-sm-6">
                <div class="">
                    <i class="wi wi-umbrella"></i>
                    <span ng-bind="wt.activeDay.dayData.precipProbability | percentage:0"></span>
                </div>

                <div class="">
                    <i class="wi wi-humidity"></i>
                    <span ng-bind="wt.activeDay.dayData.humidity | percentage:0"></span>
                </div>

                <div class="">
                    <i class="wi wi-strong-wind"></i>
                    <span ng-bind="wt.activeDay.dayData.windSpeed + ' mph'"></span>
                </div>
            </div>
        </div>
        <!-- <div id="weatherSummaryWrap" class="row">
            <div id="weatherSummary" ng-bind="wt.weatherData.currently.summary"></div>
        </div> -->
        
    	<div id="weatherGraphWrap" class="row">
            <div id="weatherGraph" ng-style="{'margin-left': wt.activeDay.marginLeft}">
    		  <canvas class="chart chart-line" chart-data="wt.activeGraph.data" chart-labels="wt.activeGraph.labels" chart-series="wt.activeGraph.series" chart-options="wt.activeGraph.options" chart-colors="wt.activeGraph.colours"></canvas>
            </div>
    	</div>

        <div id="weatherCtrlPanel">
            <button class="btn pull-left daysCtrl"><i class="material-icons">chevron_left</i></button>

            <div id="weatherGraphCtrl" class="btn-group">
                <label class="btn" ng-model="wt.graphFilter.active" uib-btn-radio="'temperature'" aria-invalid="false">
                    <i class="wi wi-thermometer"></i>
                </label>

                <label class="btn " ng-model="wt.graphFilter.active" uib-btn-radio="'precipitation'" aria-invalid="false">
                    <i class="wi wi-umbrella"></i>
                </label>

                <label class="btn" ng-model="wt.graphFilter.active" uib-btn-radio="'wind'" aria-invalid="false">
                    <i class="wi wi-strong-wind"></i>
                </label>
            </div>

            <button class="btn pull-right daysCtrl"><i class="material-icons">chevron_right</i></button>
        </div>

        <div id="weatherDaysWrap">
            <div id="weatherDays">
                <div class="daySummary" ng-repeat="day in wt.weatherData.daily.data | limitTo:7" ng-click="wt.setActiveDay($index)" ng-class="{'active': wt.activeDay.dayIndex == $index}">
                    <div class="dayOfWeek" ng-bind="day.time * 1000 | date:'EEE'"></div>

                    <div class="dayIcon">
                        <i class="wi" ng-class="wt.weatherDataFactory.mapIcon(day.icon)"></i>
                    </div>

                    <div class="dayTempRange">
                        <span class="dayTempMin">{{day.temperatureMin | number : 0}} <i class="wi wi-degrees"></i></span>
                        <span class="dayTempMax">{{day.temperatureMax | number : 0}} <i class="wi wi-degrees"></i></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
