<div id="botvacContainer">
    <div id="botvacCtrlTitle">{{bv.title}}
        <i class="material-icons ico-widget-action" ng-click="bv.init()" ng-class="{'active': bv.fetchingData}">refresh<md-tooltip>Refresh Data</md-tooltip></i>
    </div>
    <div id="botvacCtrlWrap">
        <div id="botvacMainPanel">
            <div id="botvacLocationWrap">
                <i class="material-icons" ng-if="bv.botvacData.details.isDocked">home</i>
                <i class="material-icons" ng-if="(bv.botvacData.details.isDocked == false)">room</i> 
            </div>
            <div id="botvacBatteryWrap">
                <i class="fa fa-bolt" aria-hidden="true" ng-if="bv.botvacData.details.isCharging"></i>
                <i class="fa" ng-class="{'fa-battery-0': (bv.botvacData.details.charge < 5), 'fa-battery-1': (bv.botvacData.details.charge >= 5 && bv.botvacData.details.charge < 25), 'fa-battery-2': (bv.botvacData.details.charge >= 25 && bv.botvacData.details.charge < 50), 'fa-battry-3': (bv.botvacData.details.charge >= 50 && bv.botvacData.details.charge < 75), 'fa-battery-4': (bv.botvacData.details.charge >= 75) }" aria-hidden="true"><md-tooltip>{{bv.botvacData.details.charge}}%</md-tooltip></i>
            </div>
        </div>
        <div id="botvacCtrlPanel">
            <button class="ico-wrap bv-start" ng-click="console.log('Start');" ng-disabled="!(bv.botvacData.availableCommands.start) && !(bv.botvacData.availableCommands.resume)">
                <i class="material-icons">play_arrow</i>
                <div class="ico-caption">Start</div>
            </button>
            <button class="ico-wrap bv-pause" ng-click="console.log('Pause');" ng-disabled="!(bv.botvacData.availableCommands.pause)">
                <i class="material-icons">pause</i>
                <div class="ico-caption">Pause</div>
            </button>
            <button class="ico-wrap bv-stop" ng-click="console.log('Stop');" ng-disabled="!(bv.botvacData.availableCommands.stop)">
                <i class="material-icons">stop</i>
                <div class="ico-caption">Stop</div>
            </button>
            <button class="ico-wrap bv-home" ng-click="console.log('Home');" ng-disabled="!(bv.botvacData.availableCommands.goToBase)">
                <i class="material-icons">home</i>
                <div class="ico-caption">Home</div>
            </button>
        </div>
    </div>
</div>
