body {
    background: #f6f6f6;
}
#mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#lightsContainer, #routerContainer, #botvacContainer, .widgetContainer {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    border: solid 1px rgba(0,0,0,.15);
    margin-top: 1em;
}
.widget {
    width: 100%;
    max-width: 400px;
    min-width: 350px;
}
#lightsCtrlTitle, #routerCtrlTitle, #botvacCtrlTitle, .widgetCtrlTitle {
    padding: 12px 20px;
    font-size: 18px;
    border-bottom: solid 1px rgba(0,0,0,.15);
}
#lightsCtrlWrap .hue {
    padding: 20px 20px 5px;
    border-bottom: solid 1px rgba(0,0,0,.15);
}
#lightsCtrlWrap .wemo {
    padding: 20px;
}
.lightTitle, .connectionTitle {
    display: inline-block;
    color: #555;
}
.lightSwitch {
    float: right;
    margin: -5px 0px 0px;
}
.lightSlide {
    margin: 0;
    width: 100%;
}
.lightSlide md-slider {
    margin: 0;
}
#routerCtrlWrap .connection {
    padding: 12px 20px;
    border-bottom: solid 1px rgba(0,0,0,.15);
}
#routerCtrlWrap > div.connection:first-of-type {
    /*border-top: solid 1px rgba(0,0,0,.15);*/
}
.connectionIp {
    float: right;
    line-height: 24px;
}
.connectionType {
    float: left;
    width: 24px;
    height: 24px;
    color: #444;
    margin-right: 16px;
}
.connectionTitle {
    line-height: 24px;
}
#routerCtrlButtonWrap {
    width: 100%;
    margin: 0;
    padding: 0;
}
#routerCtrlButtonWrap label.btn {
    width: 33.46%;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
}
.btn-cust-grey.active, .btn-cust-grey:active, .open>.dropdown-toggle.btn-cust-grey {
    background-color: #D1D1D9;
    border-color: #ededed;
}
.btn-cust-grey {
    background-color: #f9f9f9;
    border-color: #ededed;
    color: #788 !important;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-cust-grey:hover {
    color: inherit;
}
#routerCtrlButtonWrap label:first-of-type {
    border-left: 0;
}
#routerCtrlButtonWrap label:last-of-type {
    border-right: 0;
}
#routerCtrlWrap > div:first-of-type {
    border-bottom: solid 1px rgba(0,0,0,.15);
}
#routerCtrlWrap > div:last-of-type {
    border-bottom: 0 !important;
}
.ico-widget-action {
    float: right;
    color: #d1d1d1;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
.ico-widget-action:hover, .ico-widget-action:active {
    color: #788;
}
.ico-widget-action.active {
    -webkit-animation: spin 1.5s infinite linear;
}
#botvacCtrlPanel {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
}
.ico-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    cursor: pointer;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.54);
}
.ico-caption {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
.ico-wrap[disabled] {
    color: rgba(0,0,0,.26);
}
#botvacMainPanel {
    min-height: 200px;
    padding: 12px 20px;
    border-bottom: solid 1px rgba(0,0,0,.15);
    position: relative;
}
#botvacBatteryWrap {
    position: absolute;
    top: 12px;
    right: 20px;
}
#botvacLocationWrap {
    position: absolute;
    top: 12px;
    left: 20px;
}
#botvacLocationWrap > i {
    font-size: 18px;
}
/* Weather
******************************************/
#weatherCtrlWrap {
    padding: 20px;
    overflow: hidden;
}
#weatherHeadWrap {
    display: table;
    width: 100%;
}
#weatherSummaryWrap {
    
}
#weatherSummary {
    display: block;
    font-size: 18px;
    font-style: italic;
    color: #4d4d4d;
}
#weatherMain {
    font-size: 36px;
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-left: 0;
}
#weatherMain > div {
    display: inline-block;
    vertical-align: middle;
    color: #444;
}
#weatherMainTemp > i {
    font-size: 24px;
    vertical-align: super;
}
#weatherMainIcon {
    margin-right: 8px;
    width: 55px;
    height: 55px;
    position: relative;
    border-radius: 50%;
}
#weatherMainIcon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}
#weatherMainIcon.day {
    background: #FFECB3;
    color: #FFA000;
}
#weatherMainIcon.night {
    background: #4d4d4d;
    color: #f9f9f9;
}
#weatherMainIcon.day.cloudy {
    color: rgba(0,0,0,.65);
}
#weatherMainIcon.night.cloudy {
    color: rgba(255,255,255,.65);
}
#weatherSecondary {
    font-size: 14px;
    vertical-align: middle;
    display: table-cell;
    float: none;
    padding-right: 0;
    text-align: center;
}
#weatherSecondary > div > span {
    font-size: 12px;
    width: 60px;
    display: inline-block;
    text-align: left;
}
#weatherSecondary > div i {
    width: 25px;
    text-align: center;
    margin-right: 10px;
}
#weatherGraphWrap {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
}
#weatherGraph, #weatherGraph canvas {
    height: 100px;
    max-height: 100px;
    /*width: 100%;*/
    width: calc(100% * 7);
    transition: margin 0.3s ease-In;
}
#weatherGraphCtrl {
    /*width: 100%;*/
    /*margin: 20px 0 0;*/
    padding: 0;
    border: solid 1px rgba(0,0,0,.12);
    border-radius: 4px;
    overflow: hidden;
}
#weatherGraphCtrl label {
    /*width: 33.5%;*/
    border-color: rgba(0,0,0,.06);
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    width: 50px;
    text-align: center;
    box-shadow: none;
}
#weatherGraphCtrl label:first-of-type {
    border-left: 0;
}
#weatherGraphCtrl label:last-of-type {
    border-right: 0;
}
#weatherGraphCtrl label.active {
    background: #f9f9f9;
}
#weatherDays {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: calc(100% * 1.75);
    transition: margin 0.3s ease-In;
}
#weatherDaysWrap {
    overflow: hidden;
}
#weatherDays.shiftRight {
    margin-left: calc(-100% * .75);
}
.daySummary {
    flex: 1;
    text-align: center;
    border: solid 1px transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 0;
    outline: none;
    color: #4d4d4d;
    font-weight: 600;
    font-size: 13px;
}
.daySummary.active {
    background: #f9f9f9;
    border-color: rgba(0,0,0,.12);
}
.dayIcon {
    font-size: 24px;
    height: 36px;
}
.dayTempMin {
    opacity: .5;
    margin-right: 6px;
}
.dayTempRange i.wi {
    vertical-align: text-bottom;
}
#weatherCtrlPanel {
    text-align: center;
    margin-top: 20px;
}
.daysCtrl {
    height: 34px;
    padding: 0 5px;
    background:transparent;
    border: solid 1px rgba(0,0,0,.12);
    border-radius: 4px;
    outline: 0 !important;
}
.daysCtrl i {
    line-height: 32px;
}
.btn.daysCtrl[disabled] {
    opacity: .45;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@media screen and (max-width: 768px) {
    #mainContainer {
        padding: 0 1em;
    }
}
