<div id="routerContainer">
    <div id="routerCtrlTitle">{{rt.title}}
        <i class="material-icons ico-widget-action" ng-click="rt.init()" ng-class="{'active': rt.fetchingData}">refresh<md-tooltip>Refresh Data</md-tooltip></i>
    </div>
    <div id="routerCtrlWrap">
        <div id="routerCtrlButtonWrap" class="btn-group">
            <label class="btn btn-cust-grey" ng-model="rt.connFilter.active" uib-btn-radio="'all'">All</label>
            <label class="btn btn-cust-grey" ng-model="rt.connFilter.active" uib-btn-radio="'wired'">Wired</label>
            <label class="btn btn-cust-grey" ng-model="rt.connFilter.active" uib-btn-radio="'wireless'">Wireless</label>
        </div>
        <div ng-repeat="connection in rt.routerData | filter: rt.connFilter.check" class="connection">
            <div class="connectionTitle" ng-bind="connection.name"></div>
            <div class="connectionIp" ng-bind="connection.ip"></div>
            <div class="connectionType">
                <i class="material-icons">{{connection.type === 'wireless' ? 'wifi' : 'swap_calls'}}</i>
            </div>
        </div>
    </div>
</div>
